{% extends 'base.html' %}

{% load bootstrap4 %}

{% block conteudo %}
    <a href="{% url 'pagamentos' %}" class="btn btn-primary mb-3">
        <span class="fas fa-arrow-left mr-1"></span>
        Voltar
    </a>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <!-- Exibir mensagens de erro -->
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Erro!</strong> Por favor, corrija os erros abaixo.
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <div class="form-group">
                    <label for="id_fornecedor">Fornecedor</label>
                    <select name="fornecedor" id="id_fornecedor" class="form-control">
                        {% for fornecedor in form.fornecedor.field.queryset %}
                            <option value="{{ fornecedor.id }}" {% if fornecedor.id == form.fornecedor.value %}selected{% endif %}>
                                {{ fornecedor.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_descricao">Descrição</label>
                    <input type="text" name="descricao" id="id_descricao" class="form-control" step="0.01" value="{{ form.descricao.value }}">
                </div>
                <div class="form-group">
                    <label for="id_valor">Valor</label>
                    <input type="number" name="valor" id="id_valor" class="form-control" step="0.01" value="{{ form.valor.value|stringformat:'0.2f' }}">
                </div>
                
                <div class="form-group">
                    <label for="id_data_vencimento">Data de Vencimento</label>
                    <input type="date" name="data_vencimento" id="id_data_vencimento" class="form-control" value="{{ form.data_vencimento.value|date:'Y-m-d' }}">
                </div>
                <div class="form-group">
                    <label for="id_status">Status</label>
                    <select name="status" id="id_status" class="form-control">
                        {% for choice in form.fields.status.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.status.value %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_loja">Loja</label>
                    <select name="loja" id="id_loja" class="form-control">
                        {% for choice in form.fields.loja.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.loja.value %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_centro_custo">Centro de Custo</label>
                    <select name="centro_custo" id="id_centro_custo" class="form-control">
                        {% for choice in form.fields.centro_custo.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == form.centro_custo.value %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_data_pagamento">Data de Pagamento</label>
                    <input type="date" name="data_pagamento" id="id_data_pagamento" class="form-control" value="{{ form.data_pagamento.value|date:'Y-m-d' }}">
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="fas fa-save"></span>
                    Salvar
                </button>
            </form>
        </div>
    </div>
{% endblock %}
