{% extends 'base.html' %}
{% load bootstrap4 %}

{% block conteudo %}
    <div class="card">
        <h3 style="margin: 10px; text-align: center">Próximos Pagamentos a vencer</h3>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-transform: uppercase;">Cliente</th>
                        <th style="text-transform: uppercase;">Loja</th>
                        <th style="text-transform: uppercase;">Centro de Custo</th>
                        <th style="text-transform: uppercase;">Descrição</th>
                        <th style="text-transform: uppercase;">Valor</th>
                        <th style="text-transform: uppercase;">Data de Vencimento</th>
                        <th style="text-transform: uppercase;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentos %}
                        <tr>
                            <td>{{ pagamento.fornecedor|upper }}</td>
                            <td>{{ pagamento.loja|upper }}</td>
                            <td>{{ pagamento.centro_custo|upper }}</td>
                            <td>{{ pagamento.descricao|upper }}</td>
                            <td>{{ pagamento.valor|floatformat:2 }}</td>
                            <td>{{ pagamento.data_vencimento }}</td>
                            <td>{{ pagamento.get_status_display|upper }}</td>
                            
                        </tr>
                    {% endfor %}
                    <p><strong style="color: red;">Total de Pagamentos: R$ {{ total_pagamento|floatformat:2 }}</strong></p>
                </tbody>
            </table>
            <a href="{% url 'pagamentos' %}" class="btn btn-primary mb-3-3">
                <span class="fas fa-plus mr-1"></span>
                Ver todos
            </a>
        </div>
    </div>

    <div class="card">
        <h3 style="margin: 10px; text-align: center">Próximos recebimentos a vencer</h3>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-transform: uppercase;">Cliente</th>
                        <th style="text-transform: uppercase;">Loja</th>
                        <th style="text-transform: uppercase;">Centro de Custo</th>
                        <th style="text-transform: uppercase;">Descrição</th>
                        <th style="text-transform: uppercase;">Valor</th>
                        <th style="text-transform: uppercase;">Data de Vencimento</th>
                        <th style="text-transform: uppercase;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recebimento in recebimentos %}
                        <tr>
                            <td>{{ recebimento.cliente|upper }}</td>
                            <td>{{ recebimento.loja|upper }}</td>
                            <td>{{ recebimento.centro_custo|upper }}</td>
                            <td>{{ recebimento.descricao|upper }}</td>
                            <td>{{ recebimento.valor|floatformat:2 }}</td>
                            <td>{{ recebimento.data_vencimento }}</td>
                            <td>{{ recebimento.get_status_display|upper }}</td>
                        </tr>
                    {% endfor %}
                    <p><strong style="color: blue;">Total de Recebimentos: R$ {{ total_recebimento|floatformat:2}}</strong></p>
                </tbody>
            </table>
            <a href="{% url 'recebimentos' %}" class="btn btn-primary mb-3-3 ">
                <span class="fas fa-plus mr-1"></span>
                Ver todos
            </a>
        </div>
        </div>
    </div>
{% endblock %}