{% extends 'base.html' %}

{% block conteudo %}
<style>
    /* Adiciona rolagem horizontal para tabelas em telas pequenas */
.table-responsive {
    overflow-x: auto;
}
</style>
    <a href="{% url 'adicionar_clientes' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Documento</th>
                            <th>Cidade</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.documento }}</td>
                                <td>{{ cliente.cidade }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                        Opções
                                        </button>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'editar_clientes' cliente.id %}">Editar</a>
                                        <a class="dropdown-item" href="{% url 'deletar_clientes' cliente.id %}" data-toggle="delete-modal">Deletar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal de Confirmação de Deleção -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você tem certeza de que deseja deletar este Cliente?
            </div>
            <div class="modal-footer">
                <a href="#" id="confirm-delete-btn" class="btn btn-danger">Deletar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var duplicateLinks = document.querySelectorAll('.dropdown-item[data-toggle="duplicate-modal"]');
        var deleteLinks = document.querySelectorAll('.dropdown-item[data-toggle="delete-modal"]');
        var confirmDuplicateBtn = document.getElementById('confirm-duplicate-btn');
        var confirmDeleteBtn = document.getElementById('confirm-delete-btn');
        
        duplicateLinks.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                var url = this.getAttribute('href');
                $('#confirmDuplicateModal').modal('show');
                confirmDuplicateBtn.setAttribute('href', url);
            });
        });
        
        deleteLinks.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                var url = this.getAttribute('href');
                $('#confirmDeleteModal').modal('show');
                confirmDeleteBtn.setAttribute('href', url);
            });
        });
    });
    </script>
{% endblock %}